<div class="why-choose-Sohan-Kirana">
    <div class="heading">
      <div class="line"></div>
      <h1>Why Choose <p style="color: #fc0303c7;">Sohan Kirana Store?</p></h1>
      <div class="line"></div>
    </div>
    <div class="image-container">
        <img src="assets/Images/BigSavingsnew1.png" alt="Image 2">
        <img src="assets/Images/SameDayDelivery2new.png" alt="Image 3">
        <img src="assets/Images/SameDayDeliverynew.png" alt="Image 1">
      </div>
    <div class="content">
      <h2>One Stop Destination for All Your Grocery Needs!</h2>
      <p>Are you tired of standing in those long queues or carrying those heavy loaded bags at super market to buy grocery? Fret not, as Sohan Kirana - #Aasaan Grocery - the leading online grocery shopping store in Mumbai, Pune, Hyderabad, Ahmedabad & Bangalore, now lets you buy your choice of grocery online. We are the market leaders in this industry and strive to deliver fresh fruits & vegetables, exotic fruits and organic food items.</p>
      <h3>At our store, you can find wide variety of:</h3>
      <ul>
        <li>Fresh & organic fruits and vegetables</li>
        <li>Exotic fruits (dragon fruit, avocado, water chestnut, etc.)</li>
        <li>Frozen veg (peas, corn, parantha, etc.)</li>
        <li>Non-veg (meat, chicken, etc.)</li>
        <li>Branded food (Instant mixes, noodles, jams, etc.)</li>
        <li>Seafood (fish, prawns, etc.)</li>
        <li>Dairy, bakery & eggs</li>
        <li>Grocery products</li>
        <li>Foodgrain, oil & masala</li>
        <li>Home care & fashion products</li>
        <li>Beverages</li>
        <li>Personal care products</li>
        <li>Patanjali products and household essentials</li>
      </ul>
      <p>Our reckoned store aims to serve customers in the best way by allowing them to shop for grocery items right from the comfort of their house and get it delivered at their doorstep.</p>
      
      <h3>More About Our Online Grocery Store</h3>
      <p>With our online store, customers can get easy access to beverages, organic fresh fruits & vegetables, exotic fruits, eggs, dairy, foodgrain, oil, masala and to name a few. Not only this, they can buy items as per the quantity mentioned there and of their choice of brand. The best thing about our store is that buyers get the convenience of shopping online and secondly, they can shop as per different categories, which helps them to buy their daily essentials, without missing on any product.</p>
      <p>We understand the needs of our valuable consumers and to fulfill their shopping needs, we have covered a comprehensive range of selection which includes Patanjali products and household essentials, personal care products, organic food products, non-veg and frozen veg products, etc. in our collection. The large assortment of products offered by us are 100% genuine and are sourced from the best manufacturers and farms.</p>
      <p>No matter, whether you are thinking to buy online grocery - fruits, fresh and organic vegetables, oil, branded food, beverages or home care & fashion products, our store offers all daily essentials. Apart from this, we also make sure that our products cover daily dietary needs and are sourced from top brands. To start shopping at our store, all you need to do is just sign-up and get started with your grocery shopping!</p>
  
      <h3>How is our store unique?</h3>
      <ul>
        <li>Our online store simplifies your shopping experience</li>
        <li>We offer variety of fresh fruits, vegetables, exotic fruits, organic food items, non-veg, frozen food, sea food, etc.</li>
        <li>View various products online with clear images and pertinent details</li>
        <li>Get FAST & QUICK delivery for your ordered items</li>
        <li>Enjoy cool discounts & offers, which ultimately leads to great savings on your BILL!</li>
        <li>You can pay online using debit/credit card, net banking or UPI</li>
        <li>Your ordered items would be shown in your shopping cart, you can track them or if required you can also repeat orders, whenever the need arises</li>
        <li>For any query or concerns regarding to your online order, you can contact our customer care team</li>
      </ul>
  
      <h3>Why Choose Sohan Kirana?</h3>
      <p>When it comes to quality factor, you can rely on our online store as we strive to deliver quality and fresh products to our consumers.</p>
      <ul>
        <li>You can find the best-selling products from our top sellers in our store.</li>
        <li>Get easy access to handpicked deals priced at the best competitive rates.</li>
        <li>If you want to access and shop brand wise, then we also do have a separate segment dedicated to it, which ensures that you don’t have to waste time browsing for branded items and can straightaway buy it.</li>
        <li>At regular intervals of time, you can also check out new additions to our store segment created just for you.</li>
        <li>Wide variety of products ranging from beverages, bakery, organic fruits and veggies, exotic fruits, sea food, non veg, frozen veg, etc.</li>
        <li>Benefit from cool offers and discounts. So, when you buy more, you also save more.</li>
      </ul>
    </div>
  </div>
  