.info-bar {
    background-color:#183444;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
  }
  
  .info-list {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }
  
  .info-list li {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
}
  .info-list i {
    color: white;
    margin-right: 5px;
  }

 .left {
    justify-content: flex-start;
  }
  
  .center {
    justify-content: center;
    flex-grow: 1;
    text-align: center;
  }
  
  .right {
    justify-content: flex-end;
  }
  