<h3>Shop by <span style="color: #fc0303c7;">Category</span></h3>

  <div class="container">
  <div class="product-container">
    <div class="product-card">
      <img src="assets/Images/Categories Images/Foodgrain, Oil & Masala.jpeg" alt="Foodgrain, Oil & Masala">
      <h3 class="product-title">Foodgrain, Oil & Masala</h3>
    </div>
    
    <div class="product-card">
      <img src="assets/Images/Categories Images/Beverages.jpeg" alt="Foodgrain, Oil & Masala">
      <h3 class="product-title">Beverages</h3>
    </div>
    
    <div class="product-card">
      <img src="assets/Images/Categories Images/Dairy & Bakery.jpeg" alt="Foodgrain, Oil & Masala">
      <h3 class="product-title">Dairy & Bakery</h3>
    </div>
    
    <div class="product-card">
      <img src="assets/Images/Categories Images/Personal Care.jpeg" alt="Foodgrain, Oil & Masala">
      <h3 class="product-title">Personal Care</h3>
    </div>
    
    <div class="product-card">
      <img src="assets/Images/Categories Images/Home Care.jpeg" alt="Foodgrain, Oil & Masala">
      <h3 class="product-title">Home Care</h3>
    </div>
    <div class="product-card">
        <img src="assets/Images/Categories Images/Branded Food.jpeg" alt="Foodgrain, Oil & Masala">
        <h3 class="product-title">Branded Food</h3>
      </div>
      <div class="product-card">
        <img src="assets/Images/Categories Images/Frozen2.jpeg" alt="Foodgrain, Oil & Masala">
        <h3 class="product-title">Frozen</h3>
      </div>
     
     
    <!-- Repeat the above structure to add more products -->
    
  </div>
  </div>