<h1>Product Page</h1>

<form action="">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" value="John Doe">
    
    <label for="Titel">Titel</label>
    <input class="form-control" type="text" name="Titel" value="Manager">
    
    <label for="units">Units</label>
    <select class="form-control" name="units" id="units">
        <option value="Xyz">Xyz</option>
        <option value="jrrdj">jrrdj</option>
        <option value="srj" selected>srj</option>
        <option value="sjjytd">sjjytd</option>
        <option value="sjrsj">sjrsj</option>
    </select>
    
    <label for="category">Category</label>
    <select class="form-control" name="category" id="category">
        <option value="tty">tty</option>
        <option value="tfg">tfg</option>
        <option value="rjd" selected>rjd</option>
        <option value="rht">rht</option>
        <option value="rjt">rjt</option>
    </select>
    
    <label for="price">Price</label>
    <input class="form-control" type="text" name="Price" value="100.00">
    
    <label for="discount">Discount</label>
    <input class="form-control" type="text" name="Discount" value="10%">
</form>